
@{
    ViewBag.Title = "Creating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

<div class="btn-group">
    <button type="button" id="btnPlay" class="btn btn-default" style="background-color:blue; color:white" disabled="disabled" onclick="switchMode()">Play</button>
    <button type="button" id="btnSetup" class="btn btn-default" style="background-color:white; color:black" onclick="switchMode()">Setup</button>
</div>

<div class="btn-group">
    <button type="button" id="test" class="btn btn-default">Test</button>
</div>

<br />
<div id="canvasdiv">
    <canvas id="canvas" style="border:1px solid #d3d3d3; background-color: #d8b674">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
</div>


@*<script type="text/javascript" src="~/Scripts/Weiqi/drawboard.js">
</script>

<script type="text/javascript">draw();</script>*@

<script type="text/javascript">

    function switchMode() {
        var btn1 = document.getElementById("btnPlay");
        var btn2 = document.getElementById("btnSetup");
        if (btn1.disabled) {
            btn1.style.backgroundColor = "white";
            btn1.style.color = "black";
            btn2.style.backgroundColor = "blue";
            btn2.style.color = "white";
        } else {
            btn2.style.backgroundColor = "white";
            btn2.style.color = "black";
            btn1.style.backgroundColor = "blue";
            btn1.style.color = "white";
        }
        btn1.disabled = !btn1.disabled;
        btn2.disabled = !btn2.disabled;
    }

    function draw() {
        var canvas = document.getElementById("canvas");
        var canvasdiv = document.getElementById("canvasdiv");

        var wHeight = window.innerHeight;
        var wWidth = window.innerWidth;
        var offsets = canvasdiv.getBoundingClientRect();

        var modifiedHeight = wHeight - 2 * offsets.top - 50;
        var modifiedWidth = wWidth - 2 * offsets.left;
        var drawSize = Math.min(modifiedHeight, modifiedWidth);

        //canvasdiv.height = wHeight;
        //drawsize = Math.min(width, height)*0.9;
        canvas.width = drawSize;
        canvas.height = drawSize;
        var ctx = canvas.getContext('2d');
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        ctx.strokeStyle = '#000000';
        ctx.lineWidth = 1;

        var cellSize = drawSize / 20;
        var xshift = cellSize;
        var yshift = cellSize;
        for (var i = 0; i < 19; i++) {
            var x0 = cellSize * i;
            var y0 = 0;
            var x1 = cellSize * i;
            var y1 = cellSize * 18;
            ctx.beginPath();
            ctx.moveTo(x0 + xshift, y0 + yshift);
            ctx.lineTo(x1 + xshift, y1 + yshift);
            ctx.stroke();
            ctx.closePath();
            ctx.beginPath();
            ctx.moveTo(y0 + xshift, x0 + yshift);
            ctx.lineTo(y1 + xshift, x1 + yshift);
            ctx.stroke();
            ctx.closePath();
        }
        //ctx.fillStyle = "rgb(248, 223, 102)";
        //ctx.fillRect(0, 0, canvas.width, canvas.height);
    }

    window.addEventListener('resize', draw, false);

    draw();

</script>

