
@{
    ViewBag.Title = "Creating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<script type="text/javascript" src="~/Scripts/Weiqi/drawboard.js">
</script>

<div id="canvasdiv">
    <canvas id="canvas" style="border:1px solid #d3d3d3; background-color: rgb(248, 223, 102)">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
</div>

<script>resize_canvas();</script>


